<% boxed = boxed.nil? ? true : boxed %>
<% pre ||= false %>
<% output = output.nil? ? :html : output %>

<h3>Invocation</h3>
<div class='boxed'>
  <% if pre %>
   <pre><%= h @invocation.strip %></pre>
  <% else %>
    <%= h @invocation %>
  <% end %>
</div>

<h3>Result</h3>
<div class='<%= boxed == true ? 'boxed' : 'hiddenbox' %>'>
  <% if output == :code %>
   <pre><%= h (render :inline => @invocation).strip %></pre>
  <% else %>
    <%= render :inline => @invocation %>
  <% end %>
</div>
