<ul id="sidebar-items">

  <li>
    <h3></h3>
    <ul class="links">
      <li><%= link_to 'Home', root_path %>
      <li><%= mail_to "philip@pjkh.com", "Feedback", :encode => "javascript" %></li>
      <li><%= link_out_to "Code for this site", "http://github.com/phallstrom/fonr/tree/master" %>
    </ul>
  </li>
  </li>

  <li>
    <h3>User Methods</h3>
    <ul class="links">
      <li><%= link_to 'friends', user_method_path('friends') %></li>
      <li><%= link_to 'friends!', user_method_path('friends_bang') %></li>
      <li><%= link_to 'friend_lists', user_method_path('friend_lists') %></li>
      <li><%= link_to 'populate', user_method_path('populate') %></li>
    </ul>
  </li>
  
  <li>
    <h3>Helper Methods</h3>
    <ul class="links">
      <% property(:helpers).keys.sort_by{|e| e.to_s}.each do |helper| %>
        <li><%= link_to helper, helper_path(helper) %></li>
      <% end %>
    </ul>
  </li>
  
  <li>
    <h3>Facebooker Links</h3>
    <ul class="links">
      <li><%= link_out_to 'Documentation', 'http://facebooker.rubyforge.org/' %></li>
      <li><%= link_out_to 'GitHub - mmangino', 'http://github.com/mmangino/facebooker/tree/master' %></li>
      <li><%= link_out_to 'GitHub - phallstrom', 'http://github.com/phallstrom/facebooker/tree/master' %></li>
      <li><%= link_out_to 'Mailing List', 'http://groups.google.com/group/facebooker/' %></li>
    </ul>
  </li>
  
</ul>
