<li>
  <h3>User Methods</h3>
  <ul class="links">
    <li><%= link_to 'friends', user_method_path('friends') %></li>
    <li><%= link_to 'friends!', user_method_path('friends_bang') %></li>
    <li><%= link_to 'friend_lists', user_method_path('friend_lists') %></li>
    <li><%= link_to 'friends_with?', user_method_path('friends_with') %></li>
    <li><%= link_to 'friends_with_this_app', user_method_path('friends_with_this_app') %></li>
    <li><%= link_to 'populate', user_method_path('populate') %></li>
  </ul>
</li>
